include includes/_helpers
doctype html
html
  head
    include includes/shared-headers
    include includes/shared-css
    include includes/shared-js
    include includes/shared-graph
    include includes/resize

    // model files here
    +script(src="species/fast-plants-roots.js")
    +script(src="species/white-brown-rabbits.js")
    +script(src="species/hawks.js")
    +script(src="environments/open.js")
    +script(src="models/super-model-no-foxes.js")
    style(type="text/css").
      #graph-legend {
        position: absolute;
        left: 650px;
        top: 340px;
        height: 100px;
        vertical-align: top;
      }

      .grass { color: #00AA00; }
      .rabbit { color: #9999BB; }
      .hawk { color: #A31F05; }

      #graph {
        position: absolute;
        left: 650px;
        top: 20px;
        width: 400px;
        height: 300px;
      }

  body
    #wrapper
      #environment
      #graph-legend
        .grass= "■ Grass"
        .rabbit= "■ Rabbits"
        .hawk= "■ Hawks"
      #graph
